{% extends 'base.html.twig' %}

{% block body %}
    <div class="starter-template">
        <h1>Welcome Page</h1>
        <p class="lead">This is the <b>{{ name }}</b> page.<br> Welcome and enjoy.</p>

    </div>
{% endblock body %}