extends layout

block content
      div.top

      div.container
          contain
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">User Page</h1>
                    <p class="lead">This is the users page.</p>
                </div>
            </div>
      div.footer