body {
  padding: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #FFF;
}

a:active {
  color: green;
}

.jumbotron {
}

.col-md-6 {
  margin: 2rem auto;
}

.form {
  width: 100%;
}

